:root
{
--orange :rgb(233, 71, 12);
--blanc :white;
--black :rgba(10, 9, 9, 0.945);
--ariel :"ariel";
--gris  : rgb(184, 171, 171);
--blacktrans :rgba(0, 0, 0, 0.5);





}
body
{
 --font-police :poppins;
 --font-size1 :2rem;
 --font-size2 :3rem;
 position: relative;


}
.container
{
    display: grid;
    grid-template-rows: 10rem 50rem repeat(2,40rem) 10rem;
}

.container > div:nth-child(1)
{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;



}
.container > div:nth-child(1) > div:nth-child(1)
{
    background-image: url('Logo.png');
    padding: 11rem 11rem;
    background-position: center;
    background-repeat: no-repeat;

}
.container > div:nth-child(1) > div:nth-child(2)
{
    position: relative;
    display: flex;
    font-size: 1rem;
    font-family: var(--font-police);
    justify-content: space-between;
    width: 30%;
    left: 25rem;
}
.container > div:nth-child(1) > div:nth-child(2) >div:nth-child(1)
{
    color: var(--orange);
}
.container > div:nth-child(2) >div:nth-child(1)
{
    background-image: url('baniere.jpeg');
    width: 100%;
    block-size: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1)
{
    font-family: var(--ariel);
    font-weight: bold;
    color: var(--blanc);
    position: relative;
    top: 5em;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    text-align: center;


}
.container > div:nth-child(2) 
{
    position: relative;

}
.container > div:nth-child(2) >div:nth-child(2)
{
    position: absolute;
    top: 0;
    background-color: var(--blacktrans);
    width: 100%;
    block-size: 90%;


}
.container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(1)
{
    font-size: var(--font-size1);

}
.container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(2)
{
    font-size: var(--font-size2);
    margin-top: 2rem;
}
.container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(3)
{
    font-size: var(--font-size2);
    margin-top: 1rem;

}
.container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(4)
{
    margin-top: 2rem;
    font-size: var(--font-size1);
    font-weight: lighter;
}

.container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(5)
{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
    text-align: center;
    

}
.container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(5) > div
{
    font-size: var(--font-size1);
 block-size: 5rem;
 background-color: var(--black);
 width: 30%;
 border-radius: 2rem;
 display: flex;
 align-items: center;
 justify-content: center;


}

.container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(5) > div:nth-child(1)
{
background-color: var(--orange);
}
.container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(5) > div:nth-child(2)
{
    background-color: transparent;
    border: 0.1rem solid var(--blanc);
}
.container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(6)
{
    background-image: url('2telephones.png');
    width: 100%;
    block-size: 50rem;
    margin-top: -9rem;
    background-repeat: no-repeat;
    position: relative;
    right: 3rem;
    
}
.container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(7)
{
    border: 0.1rem solid var(--gris);
    margin-top: 3rem;

}
.container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(8)
{
    display: flex;
    justify-content: center;
    font-size: var(--font-size2);
    font-family: var(--font-police);
    color: var(--black);
    margin-top: 2rem;
}
.container > div:nth-child(3)
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60rem auto 0;
    width: 90%;
}

.container > div:nth-child(3) >div:nth-child(1)
{
    background-image: url(RectangleImg2.png);
    width: 40%;
    block-size: 50rem;
    background-repeat: no-repeat;

}
.container > div:nth-child(3) >div:nth-child(2) >div:nth-child(1)
{
 color: var(--orange);
 font-size: var(--font-size1);
}
.container > div:nth-child(3) >div:nth-child(2)>div:nth-child(2)
{
    font-size: var(--font-size2);
    margin-top: 2rem;
}
.container > div:nth-child(3) >div:nth-child(2)>div:nth-child(3)
{
    color: var(--gris);
    margin-top: 2rem;
}
.container > div:nth-child(3) >div:nth-child(2)
{
    font-weight: bold;
    width: 50%;
}
.container > div:nth-child(3) >div:nth-child(2)>div:nth-child(3) >div:nth-child(2)
{
    margin-top: 1rem;
}
.container > div:nth-child(4)
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 55rem auto 0;
    width: 80%;
}
.container > div:nth-child(4) >div:nth-child(1)
{
    font-weight: bold;
}
.container > div:nth-child(4) >div:nth-child(1) >div:nth-child(1)
{
    color: var(--orange);
    font-size: var(--font-size1);
}
.container > div:nth-child(4) >div:nth-child(1) >div:nth-child(2)
{
    font-size: var(--font-size2);
    margin-top: 2rem;
}
.container > div:nth-child(4) >div:nth-child(1) >div:nth-child(3)
{
    color: var(--gris);
    margin-top: 2rem;
}
.container > div:nth-child(4) >div:nth-child(2)
{
    background-image: url(RectangleImg3.png);
    width: 40%;
    block-size: 50rem;
    background-repeat: no-repeat;

}
.container > div:nth-child(4) >div:nth-child(1) >div:nth-child(3) >div:nth-child(2)
{
    margin-top: 1rem;
}
.container > div:nth-child(5)
{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    position: relative;
    top: 40rem;
    align-items: center;
    margin-left: 5rem;
}

.container > div:nth-child(5) >div:nth-child(1) 
{
    background-image: url('Logo.png');
    padding: 7rem 7rem;
    background-repeat: no-repeat;
    
}
.container > div:nth-child(5) >div:nth-child(2)
{
    display: flex;
    block-size: 10rem;
    width: 30rem;
    justify-content: space-between;
    margin-top: 3rem;
}
.container > div:nth-child(5) >div:nth-child(2) >div:nth-child(1)
{
    background-image: url(Vector\ \(1\).png);
    padding: 4rem 1rem;
    background-repeat: no-repeat;
}
.container > div:nth-child(5) >div:nth-child(2) >div:nth-child(2)
{
    background-image: url(Vector.png);
    padding: 4rem 1rem;
    background-repeat: no-repeat;
}
.container > div:nth-child(5) >div:nth-child(2) >div:nth-child(3)
{
    background-image: url(instagramicone.png);
    padding: 3rem 3rem;
    background-repeat: no-repeat;
}
.container > div:nth-child(5) >div:nth-child(3)
{
    font-size: 0.7rem;
    font-family: var(--ariel);
    position: relative;
}
@media screen and (max-width: 110px)









@media screen and (max-width: 800px)
 {
body  
{
    width: 100%;
}
.container
{
 display: block;

}
.container > div:nth-child(2) >div:nth-child(1)
{
    width: 100%;
}
.container > div:nth-child(1) 
{
    display: flex;
    justify-content: space-around;
    block-size: 5rem;
    width: 100%;
}





  }
  @media screen and (max-width: 560px)
  {
    .container
    {
        width: 50%;
    }

    .container > div:nth-child(2) >div:nth-child(1)
    {
        display: none;

    }
    .container > div:nth-child(2) >div:nth-child(2)
    {
        background-color: white;
    }
    .container > div:nth-child(2) >div:nth-child(2) > div:nth-child(1)
    {
        color: black;
    }
    .container > div:nth-child(1) 
    {
      block-size: 5rem;
      width: auto;
      background-color: blue;

    }
    .container > div:nth-child(1) >div:nth-child(1)
    {
        padding: 6rem 6rem;
        margin-left: 2rem;
    }

    .container > div:nth-child(1) >div:nth-child(2)
    {
        display: none;

    }
    .container > div:nth-child(1) >div:nth-child(3)
    {
        width: 3rem;
        block-size: 2rem;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    .container > div:nth-child(1) >div:nth-child(3) > div:nth-child(1)
    {
        border: 0.2rem solid var(--gris);
        width: 5rem;
        border-radius: 1rem;

    }
    .container > div:nth-child(1) >div:nth-child(3) > div:nth-child(2)
    {
        border: 0.2rem solid var(--gris);
        width: 5rem;
        border-radius: 1rem;


    }
    .container > div:nth-child(1) >div:nth-child(3) > div:nth-child(3)
    {
        border: 0.2rem solid var(--gris);
        width: 5rem;
        border-radius: 1rem;


    }
    .container > div:nth-child(2) >div:nth-child(3)
    {
        display: flex;
        text-align: center;
    }
    .container > div:nth-child(2)
    {
        display: flex;
        align-self: center;
    }
    .container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(1)
    {
        color: var(--gris);
    }

    .container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(4)
     {
       color: var(--gris);
    }
    .container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(5)
    {
        display: block
    
    }

}