:root
{
--orange :rgb(233, 71, 12);
--blanc :white;
--black :rgba(10, 9, 9, 0.945);
--ariel :"ariel";
--gris  : rgb(184, 171, 171);
--blacktrans :rgba(0, 0, 0, 0.5);

}
body
{
    font-family: "Poppins";
 --font-size1 :2rem;
 --font-size2 :3rem;


}
.container
{
    display: grid;
    grid-template-rows: 5% 58% repeat(2, 30%) 2%;
}

/* -------------------------- Header -------------------------- */

.container > div:nth-child(1)
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* ------------------ Logo ------------------ */

.container > div:nth-child(1) > div:nth-child(1)
{
    background-image: url('Logo.png');
    padding: 11rem 11rem;
    background-position: center;
    background-repeat: no-repeat;

}

/* ------------------ NavBar ------------------ */

.container > div:nth-child(1) > div:nth-child(2)
{
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    width: 30%;
    margin-right: 2rem;

}

.container > div:nth-child(1) > div:nth-child(2) >div:nth-child(1)
{
    color: var(--orange);
}

/* ------------------ Menu burger ------------------ */

.container > div:nth-child(1) >div:nth-child(3)
{
    width: 3rem;
    block-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-right: 2rem;
    display: none;
}
.container > div:nth-child(1) >div:nth-child(3) > div
{
    border: 0.2rem solid var(--gris);
    width: 3rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}

/* ------------------ Banniere ------------------ */

.container > div:nth-child(2) {
    width: 100%;
    block-size: 60rem;
    position: relative;
}

.container > div:nth-child(2) >div:nth-child(1)
{
    background-image: url('baniere.jpeg');
    width: 100%;
    block-size: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container > div:nth-child(2) >div:nth-child(2)
{
    position: absolute;
    top: 0;
    background-color: var(--blacktrans);
    width: 100%;
    block-size: 90%;
}

.container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1)
{
    font-weight: bold;
    color: var(--blanc);
    position: relative;
    top: 5em;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    text-align: center;
}

.container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(1)
{
    font-size: var(--font-size1);
}

.container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(2)
{
    font-size: var(--font-size2);
    margin-top: 2rem;
}

.container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(3)
{
    margin-top: 2rem;
    font-size: var(--font-size1);
    font-weight: lighter;
}

.container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(4)
{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
    text-align: center;
}

.container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(4) > div
{
    font-size: var(--font-size1);
    padding: 1rem 5rem;
    background-color: var(--black);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(4) > div:nth-child(1)
{
    background-color: var(--orange);
}

.container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(4) > div:nth-child(2)
{
    background-color: transparent;
    border: 0.1rem solid var(--blanc);
}

/* ----------------- Image deux téléphones ----------------- */

.container > div:nth-child(2) >div:nth-child(3) 
{
    width: 45%;
    background-repeat: no-repeat;
    position: relative;
    top: -15rem;
    left: 45%;
    transform: translateX(-50%);
}

.container > div:nth-child(2) >div:nth-child(3) > div {
    background-image: url('2telephones.png');
    background-size: cover;
    padding: 58% 22%;
}

.container > div:nth-child(2) >div:nth-child(4)
{
    border: 0.1rem solid var(--gris);
    width: 70%;
    margin: 0 auto;
    margin-top: -3rem;
}

/* --------------------- Section 3 --------------------- */

.container > div:nth-child(3)
{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.container > div:nth-child(3) :first-child {
    font-size: var(--font-size2);
    color: var(--black);
    margin-top: -3rem;
}

.container > div:nth-child(3) > div:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}

.container > div:nth-child(3) > div:nth-child(2) > :nth-child(1)
{
    background-image: url(RectangleImg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 32% 22%;
}

.container > div:nth-child(3) >div:nth-child(2) > :nth-child(2) {
    width: 80%;
    text-align: left;
}

.container > div:nth-child(3) >div:nth-child(2) > :nth-child(2) > div:nth-child(1)
{
    color: var(--orange);
    font-size: var(--font-size1);
}

.container > div:nth-child(3) >div:nth-child(2) > :nth-child(2) >div:nth-child(2)
{
    font-size: var(--font-size2);
    margin-top: 2rem;
}

.container > div:nth-child(3) >div:nth-child(2) > :nth-child(2) > div:nth-child(3)
{
    color: var(--gris);
    margin-top: 2rem;
}

/* ----------------------- Section 4 ----------------------- */

.container > div:nth-child(4)
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.container > div:nth-child(4) >div:nth-child(1)
{
    font-weight: bold;
    width: 50%;
}

.container > div:nth-child(4) >div:nth-child(1) >div:nth-child(1)
{
    color: var(--orange);
    font-size: var(--font-size1);
}

.container > div:nth-child(4) >div:nth-child(1) >div:nth-child(2)
{
    font-size: var(--font-size2);
    margin-top: 2rem;
}

.container > div:nth-child(4) >div:nth-child(1) >div:nth-child(3)
{
    color: var(--gris);
    margin-top: 2rem;
}

.container > div:nth-child(4) >div:nth-child(2)
{
    background-image: url(RectangleImg3.png);
    background-repeat: no-repeat;
    padding: 42% 20%;
}

.container > div:nth-child(5)
{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    margin-top: 5rem;
}

.container > div:nth-child(5) >div:nth-child(1) 
{
    background-image: url('Logo.png');
    padding: 7rem 7rem;
    background-repeat: no-repeat;
    
}
.container > div:nth-child(5) >div:nth-child(2)
{
    display: flex;
}

.container > div:nth-child(5) >div:nth-child(2) >div:nth-child(1)
{
    background-image: url(Vector\ \(1\).png);
    padding: 4rem 1rem;
    background-repeat: no-repeat;
}

.container > div:nth-child(5) >div:nth-child(2) >div:nth-child(2)
{
    background-image: url(Vector.png);
    padding: 4rem 1rem;
    background-repeat: no-repeat;
    margin-left: 2rem;
}

.container > div:nth-child(5) >div:nth-child(2) >div:nth-child(3)
{
    background-image: url(instagramicone.png);
    padding: 3rem 3rem;
    background-repeat: no-repeat;
    margin-left: 2rem;
}

.container > div:nth-child(5) >div:nth-child(3)
{
    font-size: 1.3rem;
}


@media screen and (max-width: 1150px)

 {
    .container > div:nth-child(1) > div:nth-child(2)
    {
    display: none;
    }
    .container > div:nth-child(1) > div:nth-child(3)
    {
        display: block;
    }
    .container > div:nth-child(2) >div:nth-child(3)
    {
        margin-top: 5rem;
    }
 }
 @media screen and (max-width: 1020px)
 {
    .container > div:nth-child(4) >div:nth-child(2)
    {
        padding: 42% 25% ;
    }

 }
 @media screen and (max-width: 1130px)
 
 {
    .container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(4) > div
    {
        padding: 2rem 3rem;
    }

    .container > div:nth-child(2) >div:nth-child(3) > div
    {
        margin-top: 3rem;
    }
 }

 @media screen and (max-width: 930px)
 {
    .container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(4) > div
    {
        padding: 3rem 4rem;
    }
    .container > div:nth-child(2) >div:nth-child(3) > div
    {
        margin-top: 5rem;
    }
    .container > div:nth-child(2) >div:nth-child(1)
    {
        width: 100%;
    }
 }
 @media screen and (max-width: 440px)
 {
    .container > div:nth-child(2) >div:nth-child(1)
    {
        display: none;

    }
    .container > div:nth-child(2) >div:nth-child(2)
    {
        background-color: white;
    }
    .container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1)
    {
        color: black;
    }
    .container > div:nth-child(2) >div:nth-child(4)
    {
        margin-top: 10rem;
    }
    .container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(4) > div
    {
        padding: 1rem 4rem ;
    }
    .container > div:nth-child(2) >div:nth-child(2) >div:nth-child(1) > div:nth-child(4)
    {
        display: block;
    }
 }




 

